<nav>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  	<div class="row">
  		<div class="col-md-2 navbar-left">
  			<a href="index.html.erb"><img class="img-circle img-logo" alt="Brand" src="assets/danish_flag.gif" width="20" height="20">
			<h3 class="navbar-title">DaneBook</h3>
		</div>
		 <div class="col-md-7">
             <div class="search-container navbar-block">
               <input type="text" class="form-control" id="input1" placeholder="Search for Users">
             </div>
          </div>
          <div class="col-md-3">
             <a class="navbar-brand navbar-right username" href="#">Harry</a>
           </div>  	
     </div>
  </div>
</div>
</nav>

<div class="container">
	<div class="row">
	  <div class="col-md-12">
	  	<img alt="main-pic" src="assets/hogwarts_small.jpg" width="1150" height="450">
	  	 <img id="profile-photo" class="img-responsive" src="/assets/harry_potter_small.jpg">


	  	 <ul class="nav nav-tabs" id="mid-nav-bar">
             <li role="presentation"><a href="timeline.html">Timeline</a></li>
             <li role="presentation" class="active"><a href="about.html">About</a></li>
             <li role="presentation"><a href="photos.html">Photos</a></li>
             <li role="presentation"><a href="friends.html">Friends</a></li>
			<li role="presentation"><a href="/edit">Edit profile</a></li>
             
         </ul>
	  </div>
	</div>
</div>

<div class="row about-title">
   <div class="col-md-10 about">
      <h3>About</h3>
   </div>
       <div class="col-md-2">
           <button class="btn btn-primary">Edit your profile</button>
       </div>
</div>

<div class="container btm-about">
	<div class="row">
		<div class="col-md-6">
			<h2>Basic Info</h2>
			  <div class="row">
				<div class="col-md-6">
					<h4>Birthday</h4>
					<h4>College</h4>
					<h4>Hometown</h4>
				</div>
				<div class="col-md-6">
					<p>Jan 1, 1990</p>
					<p>Hogwarts</p>
				</div>
			  </div>
			  <h2>Contact Information</h2>
			  <div class=row>
			  	<div class="col-md-6">
			  		<h4>Email</h4>
			  		<h4>Telephone</h4>
			  	</div>
			  	<div class="col-mid-6">
			  		<p>email@address.com</p>
			  		<p>555-555-5555</p>
			  	</div>
			  </div>
		</div>
		<div class="container">
		<div class="col-md-6">
			<h2>Worlds to Live By</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			</p>
			<h2>About Me</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

	</div>

</div>



<div 12>
<div 6>
<basic info>

<div 6>
<words to live by>
