<nav>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  	<div class="row">
  		<div class="col-md-2 navbar-left">
  			<a href="index.html.erb"><img class="img-circle img-logo" alt="Brand" src="assets/danish_flag.gif" width="20" height="20">
			<h3 class="navbar-title">DaneBook</h3>
		</div>
		 <div class="col-md-7">
             <div class="search-container navbar-block">
               <input type="text" class="form-control" id="input1" placeholder="Search for Users">
             </div>
          </div>
          <div class="col-md-3">
             <a class="navbar-brand navbar-right username" href="#">Harry</a>
           </div>  	
     </div>
  </div>
</div>
</nav>

<div class="container">
	<div class="row">
	  <div class="col-md-12">
	  	<img alt="main-pic" src="assets/hogwarts_small.jpg" width="1150" height="450">
	  	 <img id="profile-photo" class="img-responsive" src="/assets/harry_potter_small.jpg">


	  	 <ul class="nav nav-tabs" id="mid-nav-bar">
             <li role="presentation"><a href="timeline.html">Timeline</a></li>
             <li role="presentation" class="active"><a href="about.html">About</a></li>
             <li role="presentation"><a href="photos.html">Photos</a></li>
             <li role="presentation"><a href="friends.html">Friends</a></li>
			       <li role="presentation"><a href="/edit">Edit profile</a></li>     
        </ul>
	  </div>
	</div>
</div>

<div class="row about-title">
   <div class="col-md-12 about">
      <h3>Friends</h3>
   </div>
</div>

<div class="friends-container">
  <div class="row">
    <div class="col-sm-6">

        <div class="friend">
          <img src="assets/user_silhouette_generic.gif" height=100 width="100">
            <div class="friend-info">
              <a href="#">Friend Name</a>
                <p>500 Friends</p>
            </div>
              <div>
               <button class="btn btn-default unfriend">Unfriend Me</button>
              </div>
            </div>
            <div class="friend">
          <img src="assets/user_silhouette_generic.gif" height=100 width="100">
            <div class="friend-info">
              <a href="#">Friend Name</a>
                <p>500 Friends</p>
            </div>
              <div>
               <button class="btn btn-default unfriend">Unfriend Me</button>
              </div>
            </div>
            <div class="friend">
          <img src="assets/user_silhouette_generic.gif" height=100 width="100">
            <div class="friend-info">
              <a href="#">Friend Name</a>
                <p>500 Friends</p>
            </div>
              <div>
               <button class="btn btn-default unfriend">Unfriend Me</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">

        <div class="friend">
          <img src="assets/user_silhouette_generic.gif" height=100 width="100">
            <div class="friend-info">
              <a href="#">Friend Name</a>
                <p>500 Friends</p>
            </div>
              <div>
               <button class="btn btn-default unfriend">Unfriend Me</button>
              </div>
            </div>
            <div class="friend">
          <img src="assets/user_silhouette_generic.gif" height=100 width="100">
            <div class="friend-info">
              <a href="#">Friend Name</a>
                <p>500 Friends</p>
            </div>
              <div>
               <button class="btn btn-default unfriend">Unfriend Me</button>
              </div>
            </div>
            <div class="friend">
          <img src="assets/user_silhouette_generic.gif" height=100 width="100">
            <div class="friend-info">
              <a href="#">Friend Name</a>
                <p>500 Friends</p>
            </div>
              <div>
               <button class="btn btn-default unfriend">Unfriend Me</button>
              </div>
            </div>
          </div>
          </div>
          </div>
